# Mengaktifkan mode Rewrite
RewriteEngine On

# Jika file atau folder yang diminta tidak ada, arahkan ke folder "pages"
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ pages/$1 [L]

# Jika URL root diakses, arahkan ke index.php di folder "pages"
DirectoryIndex index.php

